@import ../variables

.sectionAnimeClassification
    margin: 2rem 0

    & .listAnimeClassification
        margin-top: .5rem
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
        gap: .8rem

        & .linkAnimeClassification
            display: flex
            align-items: center
            border: $border
            padding: .3rem .5rem
