@import ../variables

.ArticleAnime
    width: 100%
    height: 100%
    background-color: $color-bg-primary
    border-radius: $border-radius
    box-shadow: $box-shadow

    & a
        padding: 0

    & .ContentInfoImg
        position: relative

        & img
            position: relative
            width: 100%
            border-top-left-radius: .5rem
            border-top-right-radius: .5rem

        & .score
            position: absolute
            top: 1vh
            right: 0
            padding: .3rem
            background-color: hsla(0, 0%, 0%, .5)
            color: $color-text-secondary
            border-top-left-radius: .5rem
            border-bottom-left-radius: .5rem
            display: flex
            align-items: center

        & .score > svg
            margin-right: .2rem

    .ContentInfoText
        padding: 1rem

        & h1
            color: $color-text-primary

        & h2
            padding-top: 1rem

        & h3
            padding-top: 1rem

        & .Genres
            padding-top: .5rem
            font-size: .8em
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: .5rem

            & .genre
                padding: .3rem
                border-radius: $border-radius
                border: $border
                margin: .2rem
