.formCheck
    display: flex
    gap: 1rem
    flex-direction: column
    & .formInputCheck
        display: flex
        gap: .5rem
        align-items: center
        justify-content: center
    & h4
        margin-top: .5rem
@media screen and ( min-width: 600px )
    .formCheck
        flex-direction: row
        align-items: center
        & h4
            margin-top: 0
