@import ../variables

.Navbar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2.5vh 3vw
    margin-bottom: 2rem
    background-color: $color-header-bg
    color: $color-text-inverse

    & a
        font-size: 1.3em

    & a:hover
        color: $color-header-text

    & ul
        list-style: none
        display: flex
        align-items: center

        & li
            margin: 0 .5rem

            & a
                font-size: 1.1em
