@import ../variables

.header_navbar
    color: $color-text-inverse
    background-color: $color-header-bg
    margin-bottom: 2rem

    & .Navbar
        margin: 0 auto
        width: 90%
        padding: 1rem 0

        & .navbarHeader
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            font-size: 1.1em

            & .navToggle
                cursor: pointer
                outline: none
                cursor: pointer
                background-color: transparent
                border: none
                padding: 0
                transition: all .2s

        & .navbarCollapse
            display: none

            &.show
                display: block
                width: 100%

            & ul
                list-style: none

                & li
                    margin: .8rem .5rem

                    & a
                        font-size: 1.1em

                    &:hover
                        color: $color-header-text

    & .containerSearch
        margin: 0 auto
        width: 90%
        padding-bottom: 1rem

@media screen and ( min-width: 700px )
    .header_navbar
        & .Navbar
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap

            & .navbarHeader
                width: auto

                & .navToggle
                    display: none

            & .navbarCollapse
                display: flex
                justify-content: space-between
                padding: 0

                &.show
                    width: auto

                & ul
                    display: flex
                    align-items: center

                    & li
                        margin: 0 .5rem
