@import ../variables

.PaginationButtons
    margin: 2rem 0 3rem
    display: flex
    align-items: center
    justify-content: center

    & .PaginationButton
        border: none
        background-color: $color-btn-bg
        color: inherit
        display: flex
        align-items: center
        justify-content: space-between
        padding: .8rem 1.5rem
        margin: 0 1rem
        border-radius: .5rem
        cursor: pointer
        border: 1px solid $color-btn-border
        box-shadow: $color-shadow-small

        & svg
            margin: 0 .2rem

        &:hover
            opacity: .8
            box-shadow: $color-shadow-large
