@import ../variables

.formSeachPage
    h1
        margin-bottom: 1rem

    & .inputSearch
        padding: .5rem .8rem
        border-radius: $border-radius
        width: 100%
        box-shadow: $color-shadow-medium
        border: 1px solid $color-border-primary
        margin-bottom: 1rem

    & .listGenres
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr))

        & .genresInput
            display: flex
            align-items: center

            & label
                margin-left: .5rem
                cursor: pointer
