@import '../variables'

.seasonsHeaders
    .seasonsForm
        display: flex
        align-items: center
        gap: 1.5rem
    .btnSeasonForm
        border: none
        background-color: $color-bg-primary
        border-radius: $border-radius
        box-shadow: $color-shadow-medium
        border: 1px solid $color-border-primary
        padding: .5rem .8rem
        cursor: pointer
        &:hover
            opacity: .5
