@import '../variables'

.seasonsHeaders
    & .changeParameters
        display: flex
        justify-content: space-between
        flex-direction: column
        gap: .5rem
        & .seasonsForm
            display: flex
            gap: 1.5rem
            flex-direction: column
        @media screen and ( min-width: 600px )
            & .seasonsForm
                flex-direction: row
                align-items: center
    & .btnSeasonForm
        border: none
        background-color: $color-bg-primary
        border-radius: $border-radius
        box-shadow: $box-shadow
        border: $border
        padding: .5rem .8rem
        cursor: pointer
        &:hover
            opacity: .5
    @media screen and ( min-width: 850px )
        & .changeParameters
            flex-direction: row
