@import '../variables'

.seasonsHeaders
    & .changeParameters
        display: flex
        flex-direction: column
        & .seasonsForm
            display: flex
            flex-direction: column
            margin-bottom: 25px
            .inputBasic
                margin-bottom: 25px
        @media screen and ( min-width: 900px )
            & .seasonsForm
                flex-direction: row
                align-items: center
                margin-bottom: 0
                gap: 1rem
                .inputBasic
                    margin-bottom: 0
    & .btnSeasonForm
        border: $border
        padding: 10px 15px
        & .svg
            & g
                stroke: $color-text-link
        &:hover
            border-color: $border-primary
            & .svg
                & g
                    stroke: $color-text-link-hover
    @media screen and ( min-width: 478px )
        & .changeParameters
            flex-direction: row
            justify-content: space-between
            & .seasonsForm
                margin-bottom: 0
    @media screen and ( min-width: 900px )
        & .changeParameters
            flex-direction: row
            justify-content: space-between
