$color-text-primary: #24292e
$color-text-secondary: #586069
$color-text-tertiary: #6a737d
$color-text-placeholder: #6a737d
$color-text-disabled: #6a737d
$color-text-inverse: #fff
$color-text-white: #fff

$color-bg-primary: #fff
$color-bg-secondary: #fafbfc
$color-bg-tertiary: #f6f8fa
$color-bg-info: #f1f8ff
$color-bg-tertiary: #f6f8fa

$color-header-bg: #24292e
$color-header-text: #ffffffb3

$color-shadow-small: 0 1px 0 rgba(27,31,35,0.04)
$color-shadow-medium: 0 3px 6px rgba(149,157,165,0.15)
$color-shadow-large: 0 8px 24px rgba(149,157,165,0.2)
$color-shadow-extra-large: 0 12px 48px rgba(149,157,165,0.3)
$color-shadow-highlight: inset 0 1px 0 hsla(0,0%,100%,0.25)
$color-shadow-inset: inset 0 1px 0 rgba(225,228,232,0.2)

$color-border-primary: #e1e4e8
$color-btn-text: #24292e
$color-btn-bg: #fafbfc
$color-btn-border: rgba(27,31,35,0.15)
$color-btn-shadow: 0 1px 0 rgba(27,31,35,0.04)
$color-btn-hover-bg: #f3f4f6
$color-btn-hover-border: rgba(27,31,35,0.15)
$color-btn-selected-bg: #edeff2
$color-btn-focus-bg: #fafbfc
$color-btn-focus-border: rgba(27,31,35,0.15)
$color-btn-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3)
$color-btn-shadow-active: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
$color-btn-shadow-input-focus: 0 0 0 0.2em rgba(3,102,214,0.3)

$border-radius: .5rem
